{% load static%}
<footer>
    <div class="card">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
                <div id="foot">
                  <img src={% static "img/logo.png" %}/>
                </div>
                <div id="foot">
                  <p id="foot_nombre">Itel S.A.</p>
                </div>
                <div id="foot">
                  <footer class="blockquote-footer">2024</cite></footer>
                </div>           
          </blockquote>
        </div>
      </div>
</footer>