<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <title></title>
</head>
<body>
    <hr></hr>
    <div id="contenedor_ppal_graf" class="container text-center">
        <div class="row justify-content-around">
            <div class='row'>
                <div class="col">
                    <figure class="highcharts-figure">
                        <div id="1hora"></div>
                    </figure>                
                </div>
                <div class="col">
                    <figure class="highcharts-figure">
                        <div id="6horas"></div>
                    </figure>
                </div>
            
            </div>

            <div class='row'>
                <div class="col">
                    <figure class="highcharts-figure">
                        <div id="1dia"></div>
                    </figure>                
                </div>
                <div class="col">
                    <figure class="highcharts-figure">
                        <div id="7dias"></div>
                    </figure>
                </div>
            </div>
        </div>
      </div>
    

    <script type='application/javascript'>
        
       
        Highcharts.chart('7dias', {
            chart: {
                type: 'line'
            },
            title: {
                text: '7 DIAS'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: {{ time7d|safe }},
                tickInterval: 6 
            },
            yAxis: {
                title: {
                    text: 'Bit Rate'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: false
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'BitRate-Real',
                data: {{ br7d|safe }}
            },{
                name: 'BitRate-Critico',
                data:{{cons7d|safe }}
            }]
        });
        Highcharts.chart('1dia', {
            chart: {
                type: 'line'
            },
            title: {
                text: '1 DIA'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: {{ time1d|safe }},
                tickInterval: 6 
            },
            yAxis: {
                title: {
                    text: 'Bit Rate'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: false
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'BitRate-Real',
                data: {{ br1d|safe }}
            },{
                name: 'BitRate-Critico',
                data:{{cons1d|safe }}
            }]
        });
        Highcharts.chart('1hora', {
            chart: {
                type: 'line'
            },
            title: {
                text: '1 HORA'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: {{ time1h|safe }},
                tickInterval: 2 
            },
            yAxis: {
                title: {
                    text: 'Bit Rate'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: false
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'BitRate-Real',
                data: {{ br1h|safe }}
            },{
                name: 'BitRate-Critico',
                data:{{cons1h|safe }}
            }]
        });

        Highcharts.chart('6horas', {
            chart: {
                type: 'line'
            },
            title: {
                text: '6 HORAS'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: {{ time6h|safe }},
                tickInterval: 5 
            },
            yAxis: {
                title: {
                    text: 'Bit Rate'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: false
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'BitRate-Real',
                data: {{ br6h|safe }}
            },{
                name: 'BitRate-Critico',
                data:{{cons6h|safe }}
            }]
        });
    </script>
</body>
</html>