{% extends "./layouts/base.html" %}

{%block title%} Configuracion {%endblock%}

{%block content%} 
    <h1 id="titulo">Configuracion </h1>
    <div id="slider-config" class="slide-container">
        <label class="switch">
            <input type="checkbox" id="toggle">
            <span class="slider"></span>
            <span class="option1">ISDB-T</span>
            <span class="option2">MEGAFAX</span>
        </label>
    </div>
    
    <div>
        <select id="select-canal_config" class="form-select" aria-label="Default select example">
            <option value="" selected>SELECCIONAR CANAL</option>
            {% for key, value in datos.items %}
                <option value="{{ value }}">{{ key }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div id="contenedor_ppal_config" class="container">
        <form action="{% url 'actualizacion'%}" method="post">
            {% csrf_token %}
            <input id="origen_config" type="text" name="origen" placeholder="" value="" style="display: none;" readonly>
            <input id="eleccion_config" type="text" name="nombre" placeholder="SELECCION" value="" readonly>
            <input id="ip_config" type="text" name="IP" placeholder="Nueva IP" >
            <input id="BR_config" type="text" name="BR" placeholder="Nuevo BR_min">
            <input id="enviar_config" type="submit" value="">
        </form>
        
    </div>
    
    <div id="msj_error">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags == 'error' and 'NO GUARDADO:' in message.message %}
                    <li style="color: red">{{ message }}</li>
                {% else %}
                    <li style="color: green">{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div id="log">
        <h2>Logs</h2>
        <ul id="ul_log">
            {%for items in log%}
            <li>{{items.day}}/{{items.month}}/{{items.year}} {{items.hour}}:{{items.min}}:{{items.sec}} --- {{items.log}}</li>
            {%endfor%}
        </ul>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var origen = 'ISDBT'; // Declarar la variable fuera de la función
    
            $('#select-canal_config').change(function() {
                var selectedOption = $(this).children("option:selected").text();
                $('#eleccion_config').val(selectedOption);
                $('#origen_config').val(origen); // Asignar el valor de origen al input
            });
    
            $('#toggle').change(function() {
                if ($(this).prop('checked')) {
                    $('#select-canal_config').empty();
                    $('#select-canal_config').append('<option value="" selected>SELECCIONAR CANAL</option>');
                    {% for key, value in datos2.items %}
                        $('#select-canal_config').append(`<option value="{{ value }}">{{ key }}</option>`);
                    {% endfor %}
                    origen = 'MEGAFAX'; // Asignar el valor a la variable
                } else {
                    $('#select-canal_config').empty();
                    $('#select-canal_config').append('<option value="" selected>SELECCIONAR CANAL</option>');
                    {% for key, value in datos.items %}
                        $('#select-canal_config').append(`<option value="{{ value }}">{{ key }}</option>`);
                    {% endfor %}
                    origen = 'ISDBT'; // Asignar el valor a la variable
                }
            });

            $(document).ready(function() {
                function actualizarTabla() {
                    $.get('{% url 'act_log' %}', function(data) {
                        $('#ul_log').html($(data).find('#ul_log').html());
                    });
                }
            
                setInterval(actualizarTabla, 3000); 
            });

        });
    </script>
{%endblock%}