{% extends "./layouts/base.html" %}

{%block title%} Graficos MEGAFAX {%endblock%}

{%block content%} 
    <h1 id="titulo">Graficos MEGAFAX </h1>
    <div id="cont_ppal" class="row align-items-start">
        <div id="col" class="col">
            <select id="select-canal" class="form-select" aria-label="Default select example">
                <option value="" selected>SELECCIONAR CANAL</option>
                {% for key,value in datos.items  %}
                    <option value="{{value}}">{{key}}</option>
                {% endfor %}
            </select>
        </div>

        <div id="col" class="col">
            <button id="btn-buscar" ></button>
            <div id="spinner" class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <div id="resultado-busqueda">
        
    </div>
    

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        document.getElementById('btn-buscar').addEventListener('click', function() {
            // Mostrar el spinner y ocultar el botón
            document.getElementById('spinner').classList.remove('d-none');
            this.classList.add('d-none');
          
            // Después de un tiempo determinado, volver a mostrar el botón y ocultar el spinner
            setTimeout(function() {
              document.getElementById('spinner').classList.add('d-none');
              document.getElementById('btn-buscar').classList.remove('d-none');
            }, 1500); // Tiempo en milisegundos (en este caso, 3 segundos)
          });
        
        function ocultarSpin(){
            document.getElementById('spinner').classList.add('d-none');
        }
        function cargarContenido() {
            var canalSeleccionado = 'ITELTV_HD'; // Obtener el valor seleccionado del desplegable
        
            $.get('{% url 'busqueda' %}', { 'canal': canalSeleccionado }, function(data) {
                $('#resultado-busqueda').html(data); // Mostrar el resultado de la búsqueda
            });
        }
        // Ejecuta la función cuando el documento esté listo
        $(document).ready(function() {
            cargarContenido(); // Llama a la función para cargar el contenido automáticamente al cargar la página
            ocultarSpin();
        });

        $(document).ready(function() {
            $('#btn-buscar').click(function() {
                var canalSeleccionado = $('#select-canal').val(); // Obtener el valor seleccionado del desplegable
                // Realizar una solicitud AJAX para buscar en la base de datos
                $.get('{% url 'busqueda_m' %}', { 'canal': canalSeleccionado }, function(data) {
                    $('#resultado-busqueda').html(data); // Mostrar el resultado de la búsqueda
                });
            });
            
        });
    </script>

{%endblock%}