{% extends "./layouts/base.html" %}

{%block content%}
<div id="contenedor_ppal" class="container text-center">
    <div class="row justify-content-around">
      <div class="col">
        <div class="container-fluid">
            <h1>ISDB-T</h1>
            </div>
            <table id="tabla-isdbt" class="table table-dark table-striped">
                <thead>
                    <tr>
                      <th scope="col">Canal</th>
                      <th scope="col">IP</th>
                      <th scope="col">BitRate Min</th>
                      <th scope="col">BitRate Live</th>
                      <th scope="col">Estado</th>
                    </tr>

                  </thead>

                  <tbody>
                    {%for item in datos2 %}
                    <tr>
                      <th scope="row">{{item.nombre}}</th>
                      <td>{{item.ip}}</td>
                      <td>{{item.br_min}}</td>
                      {% if item.br_vivo < item.br_min %}
                      <td style="color: red;">{{item.br_vivo}} </td>
                      {% else %}
                      <td style="color: green;">{{item.br_vivo }}</td>
                      {% endif %}  
                      {% if item.estado%}
                      <td style="color: red;">CAIDO</td>
                      {% else %}
                      <td style="color: green;">OPERATIVO</td>
                      {% endif %}                      
                    </tr>
                    {% endfor %}
                  </tbody>
                
            </table>
                    
      </div>
      <div class="col">
        <div class="container-fluid">
            <h1>MEGAFAX</h1>
        </div>
        <table id="tabla-megafax" class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">Canal</th>
                <th scope="col">IP</th>
                <th scope="col">BitRate Min</th>
                <th scope="col">BitRate Live</th>
                <th scope="col">Estado</th>
              </tr>

              </thead>
              <tbody>
                {%for item in datos1 %}
                <tr>
                  <th scope="row">{{item.nombre}}</th>
                  <td>{{item.ip}}</td>
                  <td>{{item.br_min}}</td>
                  {% if item.br_vivo < item.br_min %}
                  <td style="color: red;">{{item.br_vivo}} </td>
                  {% else %}
                  <td style="color: green;">{{item.br_vivo }}</td>
                  {% endif %}  
                  {% if item.estado%}
                  <td style="color: red;">CAIDO</td>
                  {% else %}
                  <td style="color: green;">OPERATIVO</td>
                  {% endif %}                      
                </tr>
                {% endfor %}
              </tbody>
        </table>
        </div>
      </div>
            
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        function actualizarTabla() {
            // Actualizar tabla ISDB-T
            $.get('{% url 'query' %}', function(data) {
                $('#tabla-isdbt tbody').html($(data).find('#tabla-isdbt tbody').html());
            });

            // Actualizar tabla MEGAFAX
            $.get('{% url 'query' %}', function(data) {
                $('#tabla-megafax tbody').html($(data).find('#tabla-megafax tbody').html());
            });
        }
    
        setInterval(actualizarTabla, 10000); 
    });
</script>
{%endblock%}