{% extends "./layouts/base.html" %}

{%block content%}
<div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <div class="container-fluid">
            <h1>ISDB-T</h1>
            </div>
            <table id="tabla-isdbt" class="table table-dark table-striped">
                <thead>
                    <tr>
                      <th scope="col">Canal</th>
                      <th scope="col">IP</th>
                      <th scope="col">BitRate</th>
                      <th scope="col">Estado</th>
                    </tr>

                  </thead>

                  <tbody>
                    {%for item in datos %}
                    <tr>
                      <th scope="row">{{item.nombre}}</th>
                      <td>{{item.ip}}</td>
                      <td>{{item.BR_min}}</td>
                      {% if item.estado%}
                      <td style="color: red;">CAIDO</td>
                      {% else %}
                      <td style="color: green;">OPERATIVO</td>
                      {% endif %}                      
                    </tr>
                    {% endfor %}
                  </tbody>
                
            </table>
                    
      </div>
      <div class="col">
        <div class="container-fluid">
            <h1>MEGAFAX</h1>
        </div>
        <table id="tabla-megafax" class="table table-dark table-striped">
            <thead>
                <tr>
                  <th scope="col">Canal</th>
                  <th scope="col">IP</th>
                  <th scope="col">BitRate</th>
                  <th scope="col">Estado</th>
                </tr>

              </thead>
              <tbody>
                {%for item in datos1 %}
                <tr>
                  <th scope="row">{{item.nombre}}</th>
                  <td>{{item.ip}}</td>
                  <td>{{item.BR_min}}</td>
                  {% if item.estado%}
                  <td style="color: red;">CAIDO</td>
                  {% else %}
                  <td style="color: green;">OPERATIVO</td>
                  {% endif %}                      
                </tr>
                {% endfor %}
              </tbody>
        </table>
        </div>
      </div>
            
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        function actualizarTabla() {
            $.get('{% url 'query' %}', function(data) {
                $('#tabla').html(data);
            });
        }

        setInterval(actualizarTabla, 10000); // 10 segundos (10000 milisegundos)
    });
</script>
{%endblock%}