{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block styles%} {%endblock%}
    <title>{%block title%}{% endblock%}</title>
</head>
<body>
    {% include "layouts/parcial/nav.html" %}
    <main>
        {% block content %}
        {% endblock %}
        
    </main>
    <footer>
        {%block footer%} {%endblock%}
    </footer>
</body>
</html>